## 10 Minutes Python

Ceci est une brève introduction aux pandas, axée principalement pour les nouveaux utilisateurs. Vous pouvez voir des recettes plus complexes dans le livre de recettes

Habituellement, nous importons comme suit:

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

## Object Création

Création d' un Seriesen passant une liste de valeurs, laissant pandas créer un index entier par défaut:

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Création d' un DataFrameen passant un tableau numpy, avec un indice de datetime et colonnes intitulées:

In [8]:
dates = pd.date_range('20130101', periods=6)

dates


df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -0.400218  0.553340  0.273294 -0.367258
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651
2013-01-04  0.695735 -1.302921  1.291100 -0.011481
2013-01-05 -0.316020  1.136851 -1.340088 -1.248963
2013-01-06  0.702826 -0.553006  0.880761  0.763722

Création d' un DataFrameen faisant passer un dict d'objets qui peuvent être convertis en série-like

In [9]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
   ....: 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
Ayant spécifiques dtypes

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

Si vous utilisez IPython, la complétion des noms de colonnes (ainsi que des attributs publics) est automatiquement activé. Voici un sous-ensemble des attributs qui seront achevés:

In [13]:
df2.<TAB>
df2.A                  df2.boxplot
df2.abs                df2.C
df2.add                df2.clip
df2.add_prefix         df2.clip_lower
df2.add_suffix         df2.clip_upper
df2.align              df2.columns
df2.all                df2.combine
df2.any                df2.combineAdd
df2.append             df2.combine_first
df2.apply              df2.combineMult
df2.applymap           df2.compound
df2.as_blocks          df2.consolidate
df2.asfreq             df2.convert_objects
df2.as_matrix          df2.copy
df2.astype             df2.corr
df2.at                 df2.corrwith
df2.at_time            df2.count
df2.axes               df2.cov
df2.B                  df2.cummax
df2.between_time       df2.cummin
df2.bfill              df2.cumprod
df2.blocks             df2.cumsum
df2.bool               df2.D

SyntaxError: invalid syntax (<ipython-input-13-e8d0e54abc86>, line 1)

Comme vous pouvez le voir, les colonnes A, B, Cet Dsont automatiquement complétées onglet. Eest là aussi; le reste des attributs ont été tronquée par souci de concision.

## Affichage des données

Voir la section Basics

Voir les lignes du haut et du bas du cadre

In [20]:
df.head()

                   A         B         C         D
2013-01-01 -0.400218  0.553340  0.273294 -0.367258
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651
2013-01-04  0.695735 -1.302921  1.291100 -0.011481
2013-01-05 -0.316020  1.136851 -1.340088 -1.248963

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.695735 -1.302921  1.291100 -0.011481
2013-01-05 -0.316020  1.136851 -1.340088 -1.248963
2013-01-06  0.702826 -0.553006  0.880761  0.763722

Afficher l'index, les colonnes et les données sous-jacentes numpy

In [21]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.values

array([[-0.4002185 ,  0.55334036,  0.2732941 , -0.3672576 ],
       [-1.12091229, -1.02339538, -0.39332871, -1.35615435],
       [-0.18089807, -0.39350685, -0.1981216 , -0.16865065],
       [ 0.69573499, -1.30292146,  1.29109995, -0.01148107],
       [-0.31601956,  1.13685131, -1.34008754, -1.24896263],
       [ 0.70282639, -0.55300634,  0.88076089,  0.76372195]])

Décrivez montre un résumé statistique rapide de vos données

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.103248 -0.263773  0.085603 -0.398131
std    0.701892  0.936671  0.944796  0.799342
min   -1.120912 -1.302921 -1.340088 -1.356154
25%   -0.379169 -0.905798 -0.344527 -1.028536
50%   -0.248459 -0.473257  0.037586 -0.267954
75%    0.476577  0.316629  0.728894 -0.050773
max    0.702826  1.136851  1.291100  0.763722

Transposer vos données

In [25]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.400218   -1.120912   -0.180898    0.695735   -0.316020    0.702826
B    0.553340   -1.023395   -0.393507   -1.302921    1.136851   -0.553006
C    0.273294   -0.393329   -0.198122    1.291100   -1.340088    0.880761
D   -0.367258   -1.356154   -0.168651   -0.011481   -1.248963    0.763722

Tri par un axe

In [26]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.367258  0.273294  0.553340 -0.400218
2013-01-02 -1.356154 -0.393329 -1.023395 -1.120912
2013-01-03 -0.168651 -0.198122 -0.393507 -0.180898
2013-01-04 -0.011481  1.291100 -1.302921  0.695735
2013-01-05 -1.248963 -1.340088  1.136851 -0.316020
2013-01-06  0.763722  0.880761 -0.553006  0.702826

Tri par les valeurs

In [27]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-04  0.695735 -1.302921  1.291100 -0.011481
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-06  0.702826 -0.553006  0.880761  0.763722
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651
2013-01-01 -0.400218  0.553340  0.273294 -0.367258
2013-01-05 -0.316020  1.136851 -1.340088 -1.248963

## Sélection

Remarque 
Bien que les expressions standards Python / NumPy pour la sélection et le réglage sont intuitifs et sont utiles pour le travail interactif, pour le code de production, nous vous recommandons les méthodes d'accès aux données de pandas optimisés, .at, .iat, .loc, .ilocet .ix.
Consultez la documentation d'indexation Indexation et Sélection de données et multiindice / Indexation avancée

## Getting

La sélection d' une seule colonne, ce qui donne un Serieséquivalent àdf.A

In [28]:
 df [ 'A' ]

2013-01-01   -0.400218
2013-01-02   -1.120912
2013-01-03   -0.180898
2013-01-04    0.695735
2013-01-05   -0.316020
2013-01-06    0.702826
Freq: D, Name: A, dtype: float64

Sélection par l' intermédiaire [], qui tranche les lignes.

In [29]:
df [ 0 : 3 ]

                   A         B         C         D
2013-01-01 -0.400218  0.553340  0.273294 -0.367258
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651

In [30]:
df [ '20130102' : '20130104' ]

                   A         B         C         D
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651
2013-01-04  0.695735 -1.302921  1.291100 -0.011481

## Sélection par étiquette

Voir plus dans la sélection par étiquette

Pour obtenir une section transversale en utilisant une étiquette

In [ ]:
df . loc [ dates [ 0 ]]

Sélection sur un multi-axe par étiquette

In [31]:
 df . loc [:, [ 'A' , 'B' ]]

                   A         B
2013-01-01 -0.400218  0.553340
2013-01-02 -1.120912 -1.023395
2013-01-03 -0.180898 -0.393507
2013-01-04  0.695735 -1.302921
2013-01-05 -0.316020  1.136851
2013-01-06  0.702826 -0.553006

Affichage étiquette tranchage, les deux extrémités sont inclus

In [33]:
df . loc [ '20130102' : '20130104' , [ 'A' , 'B' ]]

                   A         B
2013-01-02 -1.120912 -1.023395
2013-01-03 -0.180898 -0.393507
2013-01-04  0.695735 -1.302921

La réduction des dimensions de l'objet retourné

In [39]:
df.loc['20130102',['A','B']]

A   -1.120912
B   -1.023395
Name: 2013-01-02 00:00:00, dtype: float64

Pour obtenir une valeur scalaire

In [40]:
df.loc[dates[0],'A']

-0.40021849872423843

Pour obtenir un accès rapide à un scalaire (equiv à la méthode antérieure)

In [41]:
df.at[dates[0],'A']

-0.40021849872423843

## Sélection par Position 
Voir plus dans la sélection par Position

Sélectionner par l'intermédiaire de la position des entiers passés

In [42]:
df.iloc[3]

A    0.695735
B   -1.302921
C    1.291100
D   -0.011481
Name: 2013-01-04 00:00:00, dtype: float64

Par tranches entières, agissant similaire à numpy / python

In [43]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.695735 -1.302921
2013-01-05 -0.316020  1.136851

Par listes d'emplacements de position entiers, semblable à la / style python numpy

In [44]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -1.120912 -0.393329
2013-01-03 -0.180898 -0.198122
2013-01-05 -0.316020 -1.340088

Pour trancher les lignes explicitement

In [45]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -1.120912 -1.023395 -0.393329 -1.356154
2013-01-03 -0.180898 -0.393507 -0.198122 -0.168651

Pour obtenir les colonnes explicitement

In [46]:
df.iloc[:,1:3]

                   B         C
2013-01-01  0.553340  0.273294
2013-01-02 -1.023395 -0.393329
2013-01-03 -0.393507 -0.198122
2013-01-04 -1.302921  1.291100
2013-01-05  1.136851 -1.340088
2013-01-06 -0.553006  0.880761

Pour obtenir une valeur explicitement

In [47]:
df.iloc[1,1]

-1.0233953844262502

Pour obtenir un accès rapide à un scalaire (equiv à la méthode antérieure)

In [48]:
df.iat[1,1]

-1.0233953844262502

## Boolean Indexation
En utilisant les valeurs d'une seule colonne pour sélectionner des données.

In [49]:
df[df.A > 0]

                   A         B         C         D
2013-01-04  0.695735 -1.302921  1.291100 -0.011481
2013-01-06  0.702826 -0.553006  0.880761  0.763722

Une where opération d'obtention.

In [51]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN  0.553340  0.273294       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03       NaN       NaN       NaN       NaN
2013-01-04  0.695735       NaN  1.291100       NaN
2013-01-05       NaN  1.136851       NaN       NaN
2013-01-06  0.702826       NaN  0.880761  0.763722

Utilisation de la isin()méthode de filtrage:

In [52]:
df2 = df.copy()

## Réglage 
Définition d'une nouvelle colonne aligne automatiquement les données par les indices

In [54]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

Définition des valeurs par étiquette

In [55]:
df.at[dates[0],'A'] = 0

Définition des valeurs par la position

In [56]:
df.iat[0,1] = 0

Réglage en attribuant un tableau numpy

In [57]:
df.loc[:,'D'] = np.array([5] * len(df))

Le résultat des opérations de réglage antérieures

In [58]:
df

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.273294  5
2013-01-02 -1.120912 -1.023395 -0.393329  5
2013-01-03 -0.180898 -0.393507 -0.198122  5
2013-01-04  0.695735 -1.302921  1.291100  5
2013-01-05 -0.316020  1.136851 -1.340088  5
2013-01-06  0.702826 -0.553006  0.880761  5

Une whereopération de réglage.

In [59]:
df2 = df.copy()

In [ ]:
df2[df2 > 0] = -df2

In [60]:
df2

                   A         B         C  D
2013-01-01  0.000000  0.000000  0.273294  5
2013-01-02 -1.120912 -1.023395 -0.393329  5
2013-01-03 -0.180898 -0.393507 -0.198122  5
2013-01-04  0.695735 -1.302921  1.291100  5
2013-01-05 -0.316020  1.136851 -1.340088  5
2013-01-06  0.702826 -0.553006  0.880761  5

## Données manquantes

pandas utilise principalement la valeur np.nan pour représenter les données manquantes. Il est par défaut non inclus dans les calculs. Voir la section Données manquantes

Réindexation vous permet de modifier / ajouter / supprimer l'index sur un axe spécifié. Ceci renvoie une copie des données.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

Pour supprimer toutes les lignes qui ont les données manquantes.

In [ ]:
df1.dropna(how='any')

Remplissage des données manquantes

In [ ]:
df1.fillna(value=5)

Pour obtenir le masque booléen où les valeurs sont nan

In [61]:
pd.isnull(df1)

NameError: name 'df1' is not defined

## Operations
Voir la section de base sur les binaires Ops

## Stats 

Opérations en général ne comprennent pas les données manquantes.

Exécution d'une statistique descriptive

In [62]:
df.mean()

A   -0.036545
B   -0.355996
C    0.085603
D    5.000000
dtype: float64

Même opération sur l'autre axe

In [63]:
df.mean()

A   -0.036545
B   -0.355996
C    0.085603
D    5.000000
dtype: float64

Fonctionnant avec des objets qui ont dimensionnalité différents et ont besoin dalignement. En outre, les pandas diffuse automatiquement le long de la dimension spécifiée.

In [64]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [65]:
df.sub(s, axis='index')

                   A         B         C    D
2013-01-01       NaN       NaN       NaN  NaN
2013-01-02       NaN       NaN       NaN  NaN
2013-01-03 -1.180898 -1.393507 -1.198122  4.0
2013-01-04 -2.304265 -4.302921 -1.708900  2.0
2013-01-05 -5.316020 -3.863149 -6.340088  0.0
2013-01-06       NaN       NaN       NaN  NaN

## Apply

L'application de fonctions aux données

In [66]:
df.apply(np.cumsum)

                   A         B         C   D
2013-01-01  0.000000  0.000000  0.273294   5
2013-01-02 -1.120912 -1.023395 -0.120035  10
2013-01-03 -1.301810 -1.416902 -0.318156  15
2013-01-04 -0.606075 -2.719824  0.972944  20
2013-01-05 -0.922095 -1.582972 -0.367144  25
2013-01-06 -0.219269 -2.135979  0.513617  30

In [67]:
df.apply(lambda x: x.max() - x.min())

A    1.823739
B    2.439773
C    2.631187
D    0.000000
dtype: float64

## Histogramme
Voir plus à histogrammes et discrétisation

In [68]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

0    4
1    1
2    5
3    1
4    4
5    2
6    4
7    2
8    0
9    0
dtype: int32

In [69]:
s.value_counts()

4    3
2    2
1    2
0    2
5    1
dtype: int64

## Méthodes de chaîne 

Série est équipée d'un ensemble de méthodes de traitement de chaîne dans la str attribut qui le rendent facile à utiliser sur chaque élément du tableau, comme dans l'extrait de code ci - dessous. Notez que pattern-matching dans str utilise généralement des expressions régulières par défaut (et dans certains cas les utilise toujours). Voir plus à vectorisées méthodes de chaînes .

In [70]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

# Fusionner 

## concat 

pandas fournit différentes installations pour combiner facilement ensemble de la série, dataframe et objets Panel avec différents types de logique de jeu pour les indices et les fonctionnalités de l'algèbre relationnelle dans le cas d'opérations rejoindre / fusion de type.

Voir la section Fusion

Concaténation pandas objets ainsi concat():

In [71]:
df = pd.DataFrame(np.random.randn(10, 4))

In [72]:
df

          0         1         2         3
0 -0.918229  1.202766  0.293810 -1.724177
1 -0.313076 -0.543075  0.589767 -0.023302
2 -0.395746  0.155825 -2.024683  1.298223
3  1.012272 -0.411360  0.903057  0.493708
4 -1.288125  0.253556  0.922468  0.609452
5  0.837525  0.066207  0.527683 -0.460892
6  0.491823  0.038767  0.155464  0.472965
7 -1.166002 -0.574171  1.151297 -0.333106
8  0.944783 -0.772584 -0.302454  0.423942
9  1.469624 -0.518260  0.542490  0.405710

In [73]:
pieces = [df[:3], df[3:7], df[7:]]

In [74]:
pd.concat(pieces)

          0         1         2         3
0 -0.918229  1.202766  0.293810 -1.724177
1 -0.313076 -0.543075  0.589767 -0.023302
2 -0.395746  0.155825 -2.024683  1.298223
3  1.012272 -0.411360  0.903057  0.493708
4 -1.288125  0.253556  0.922468  0.609452
5  0.837525  0.066207  0.527683 -0.460892
6  0.491823  0.038767  0.155464  0.472965
7 -1.166002 -0.574171  1.151297 -0.333106
8  0.944783 -0.772584 -0.302454  0.423942
9  1.469624 -0.518260  0.542490  0.405710

# Join

Style SQL fusionne. Voir le style de base de données se joindre

In [75]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [76]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [77]:
left

   key  lval
0  foo     1
1  foo     2

In [78]:
 right

   key  rval
0  foo     4
1  foo     5

Un autre exemple peut être donné est la suivante:

In [79]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})

In [80]:
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

In [81]:
left

   key  lval
0  foo     1
1  bar     2

In [82]:
right

   key  rval
0  foo     4
1  bar     5

In [83]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

# append 

Ajouter des lignes à un dataframe. Voir la Appending

In [84]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])
df

          A         B         C         D
0  0.392560  0.934550  2.266324 -0.715209
1  0.353216 -0.854571  0.449341 -0.684518
2  0.245733  0.439178 -1.337551 -0.107026
3  1.198895  1.481098  1.195330  0.192503
4  1.541920 -2.108751  0.286023 -0.173490
5 -1.836975  0.083313  1.299215  2.363865
6 -1.592401  0.348572  0.001530 -0.143528
7  0.898220 -0.164736  0.294735  1.129242

In [85]:
s = df.iloc[3]

In [86]:
df.append(s, ignore_index=True)

          A         B         C         D
0  0.392560  0.934550  2.266324 -0.715209
1  0.353216 -0.854571  0.449341 -0.684518
2  0.245733  0.439178 -1.337551 -0.107026
3  1.198895  1.481098  1.195330  0.192503
4  1.541920 -2.108751  0.286023 -0.173490
5 -1.836975  0.083313  1.299215  2.363865
6 -1.592401  0.348572  0.001530 -0.143528
7  0.898220 -0.164736  0.294735  1.129242
8  1.198895  1.481098  1.195330  0.192503

# Regroupement 
Par "group by" nous faisons référence à un processus impliquant une ou plusieurs des étapes suivantes

Fractionnement des données en groupes en fonction de certains critères
L' application d' une fonction à chaque groupe indépendamment
En combinant les résultats dans une structure de données

Voir la section Groupement

In [90]:
f = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
   ....:                           'foo', 'bar', 'foo', 'foo'],
   ....:                    'B' : ['one', 'one', 'two', 'three',
   ....:                           'two', 'two', 'one', 'three'],
   ....:                    'C' : np.random.randn(8),
   ....:                    'D' : np.random.randn(8)})
   ....: 
        
f

     A      B         C         D
0  foo    one  0.783908  0.983307
1  bar    one -0.686320  0.171619
2  foo    two  0.219648 -0.697847
3  bar  three  1.293883 -0.506923
4  foo    two  1.417137  2.891371
5  bar    two  1.088799 -1.930291
6  foo    one -0.627078  0.590640
7  foo  three -0.373238 -0.693070

Le regroupement, puis en appliquant une fonction sumaux groupes résultant.

In [89]:
df.groupby('A').sum()

                  B         C         D
A
-1.836975  0.083313  1.299215  2.363865
-1.592401  0.348572  0.001530 -0.143528
 0.245733  0.439178 -1.337551 -0.107026
 0.353216 -0.854571  0.449341 -0.684518
 0.392560  0.934550  2.266324 -0.715209
 0.898220 -0.164736  0.294735  1.129242
 1.198895  1.481098  1.195330  0.192503
 1.541920 -2.108751  0.286023 -0.173490

Regroupement par plusieurs colonnes forme un index hiérarchique, que nous appliquons ensuite la fonction.

In [88]:
df.groupby(['A','B']).sum()

                            C         D
A         B
-1.836975  0.083313  1.299215  2.363865
-1.592401  0.348572  0.001530 -0.143528
 0.245733  0.439178 -1.337551 -0.107026
 0.353216 -0.854571  0.449341 -0.684518
 0.392560  0.934550  2.266324 -0.715209
 0.898220 -0.164736  0.294735  1.129242
 1.198895  1.481098  1.195330  0.192503
 1.541920 -2.108751  0.286023 -0.173490